{% extends "base.html" %}

{% block main %}
	<div>
		<h1>Добавление бесплатного плейлиста</h1>
		{% if add_successful %}
			<div id="succes_mess">
				Плейлист успешно добавлен
			</div>
		{% else %}
			{% if is_empty_field %}
				<div id="error_mess">
					Заполните все поля
				</div>
			{% endif %}
		{% endif %}
		<br>
		<form action="{% url 'add_free_playlist' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				<label>{{ form.title.label }}</label> 
				<div>{{ form.title }}</div>
			</div>
			<br>
			<div>
				<label>{{ form.schoolOwner.label }}</label> 
				<div>{{ form.schoolOwner }}</div>
			</div>
			<br>
			<div>
				<div>
					<button type="submit" class="btn" style="width: 220px;">Добавить</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}