{% extends "base.html" %}

{% block main %}
	<div>
		<h1>Изменение</h1>
		{% if add_successful %}
			<div id="succes_mess">
				Изменения приняты
			</div>
		{% else %}
			{% if is_empty_field %}
				<div id="error_mess">
					Заполните все поля
				</div>
			{% endif %}
		{% endif %}
		<br>
		<form action="{% url 'change_song' song.id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				<label>{{ form.title.label }}</label> 
				<div>{{ form.title }}</div>
			</div>
			<br>
			<div>
				<label>{{ form.singer.label }}</label> 
				<div>{{ form.singer }}</div>
			</div>
			<br>
			<div>
				<label>{{ form.pos.label }}</label>
				<div>{{ form.pos }}</div>
			</div>
			<br>
			<div>
				<label>{{ form.playList.label }}</label> 
				<div>{{ form.playList }}</div>
			</div>
			<br>
			<div>
				<label>{{ form.songFile.label }} (*.mp3)</label> 
				<div>{{ form.songFile }}</div>
			</div>
			<br>
			<div>
				<label>{{ form.albumImg.label }} (*.jpg/png)</label> 
				<div>{{ form.albumImg }}</div>
			</div>
			<br>
			<div>
				<div>
					<button type="submit" class="btn" name="btn_save" style="width: 200px;">Сохранить</button>
					<button type="submit" class="btn" name="btn_delete" style="width: 200px;">Удалить</button>
				</div>
			</div>
			<br>
			<div>
				<button type="submit" class="btn" name="btn_back" style="width: 200px;">Назад</button>					
			</div>
		</form>
	</div>

<script>
	var MDPI_WIDTH = 48
	var HDPI_WIDTH = MDPI_WIDTH * 1.5
	var XHDPI_WIDTH = MDPI_WIDTH * 2
	var XXHDPI_WIDTH = MDPI_WIDTH * 3
	var XXXHDPI_WIDTH = MDPI_WIDTH * 4	

	function checkImgURL(input) {
		var type   = ['image/bmp','image/gif','image/jpg','image/jpeg','image/png'];
		var width  = XXXHDPI_WIDTH;
		var height = XXXHDPI_WIDTH;
		var file   = input.files[0];
		var img_prev_xxxhdpi = document.getElementById('img_prev_xxxhdpi');
		var img_prev_xxhdpi  = document.getElementById('img_prev_xxhdpi');
		var img_prev_xhdpi   = document.getElementById('img_prev_xhdpi');
		var img_prev_hdpi    = document.getElementById('img_prev_hdpi');
		var img_prev_mdpi    = document.getElementById('img_prev_mdpi');
		function errMsg(x) {
			alert('Error ' + x);
			prev.src = '';
			input.value = '';
		}
		if (type.indexOf(file.type) == -1) {
			input.value = '';
			errMsg('Не правильный формат!');
			return false;
		} else {
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function(e) {
				var img = new Image();
				img.src = e.target.result;
				img.onload = function() {
					if (this.width >= width && this.height >= height) {
						/*
						img_prev_xxxhdpi.src = this.src;
						img_prev_xxhdpi.src = this.src;
						img_prev_xhdpi.src = this.src;
						img_prev_hdpi.src = this.src;
						img_prev_mdpi.src = this.src;
						*/
						/*
						var width = prev2.width;
						var height = prev2.height;
						canvas.width = width / 3;
						canvas.height = height / 3;
						*/
						//var ctx = canvas.getContext("2d");
						//ctx.drawImage(this, 0, 0, width, height);

						var example = document.getElementById("example");
						var ctx = example.getContext('2d');

						example.width = example.height = XXXHDPI_WIDTH;
						ctx.drawImage(this, 0, 0, example.width, example.height);
						var new_img = example.toDataURL("image/png");
						img_prev_xxxhdpi.src = new_img;

						example.width = example.height = XXHDPI_WIDTH;
						ctx.drawImage(this, 0, 0, example.width, example.height);
						var new_img = example.toDataURL("image/png");
						img_prev_xxhdpi.src = new_img;

						example.width = example.height = XHDPI_WIDTH;
						ctx.drawImage(this, 0, 0, example.width, example.height);
						var new_img = example.toDataURL("image/png");
						img_prev_xhdpi.src = new_img;

						example.width = example.height = HDPI_WIDTH;
						ctx.drawImage(this, 0, 0, example.width, example.height);
						var new_img = example.toDataURL("image/png");
						img_prev_hdpi.src = new_img;

						example.width = example.height = MDPI_WIDTH;
						ctx.drawImage(this, 0, 0, example.width, example.height);
						var new_img = example.toDataURL("image/png");
						img_prev_mdpi.src = new_img;

						ctx.clearRect(0, 0, example.width, example.height);

						//document.getElementById('img_size_mess').style.color='black';
					} else {
						//document.getElementById('img_size_mess').style.color='red';
						input.value = '';
					}
				};
			};
		}
	}

	function checkSongURL(input) {
		var type   = ['audio/mp3'];
		var file   = input.files[0];
		function errMsg(x) {
			alert('Error ' + x);
			prev.src = '';
			input.value = '';
		}
		if (type.indexOf(file.type) == -1) {
			input.value = '';
			errMsg('Не правильный формат!');
			input.value = '';
			return false;
		} else {

		}
	}

	function chooseItem(){
		var i, o
		sel = document.getElementById("id_playList");
		opt=sel.options
		for(i=0;i<opt.length;i++){
			o=opt[i];
			if(o.value=="{{ song.playList.title }}" ) {
				o.selected=true;
				break;
			}
			o.selected=true;
		}
	}
	window.onload = chooseItem();

</script>
{% endblock %}