{% extends "base.html" %}

{% block main %}
	<div>
		<div><a href="{% url 'add_song' %}">Добавить песню</a></div>
		<br>
		<form action="{% url 'show_all_songs' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div style="margin-bottom: 10px;">{{ form.objSort.label }} {{ form.objSort }}</div>
			<div  style="margin-bottom: 10px;">{{ form.ubVozr.label }} {{ form.ubVozr }}</div>
			<div><button type="submit" class="btn" style="width: 100px;">ОК</button></div>
		</form>
		<br>
		<table>
			<tr class="tableheader">
				<th width="100px">Img</th>
				<th width="300px">Title</th>
				<th width="200px">Singer</th>
				<th width="200px">PlayList</th>
				<th width="70px">Position</th>
				<th width="100px">Length</th>
				<th width="100px">Play</th>
			</tr>
			{% for song in songs %}
				<tr class="{% cycle '' 'dark_row' %}">
					<th>
						<a href="{% url 'change_song' song.id %}">
							<img width="50px" src="/media/album_img/{{ song.id }}_{{ song.title }}hdpi.{{ song.expansion }}">
						</a>
					</th> 
					<th>
						<a href="{% url 'change_song' song.id %}">
							{{ song.title }}
						</a>
					</th> 
					<th>
						<a href="{% url 'change_song' song.id %}">
							{{ song.singer }}
						</a>
					</th>
					<th>
						<a href="{% url 'change_song' song.id %}">
							{{ song.playList.title }}
						</a>
					</th>
					<th>
						<a href="{% url 'change_song' song.id %}">
							{{ song.pos }}
						</a>
					</th>
					<th>
						<a href="{% url 'change_song' song.id %}">
							{{ song.length }}
						</a>
					</th>
					<th>
						<a target="_blank" href="/media/{{ song.song_file }}">
							Play
						</a>
					</th>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}